<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.min.js"></script>
	<style>
	li{
		border: 1px dashed #999;
		margin: 5px;
		line-height: 35px;
		padding-left: 2px;
		font-size: 20px;
	}
	.v-enter,.v-leave-to{opacity: 0;transform:translateY(80px);}
	.v-enter-active,.v-leave-active{transition:all 0.6s ease;}
	li:hover{background-color: pink;transition:all 0.3s ease;}
	</style>
</head>
<body>
	<div id="app">
		<div>
			<label for="">
				ID:
				<input type="text" v-model="id">
			</label>

			<label for="">
				NAME:
				<input type="text" v-model="name">
			</label>

			<input type="button" value="添加" @click="add">

			<ul>

				<!-- 在实现列表过渡的时候，如果需要过渡的元素，是通过v-for循环渲染出来的，不能使用transition 包裹，需要使用transitionGroup -->
				<!-- 如果要为v-for循环创建的元素设置动画，须为每一个元素设置：key属性 -->
				<transition-group>
				<li v-for="item in list" :key="item.id">{{item.id}}----{{item.name}}</li>
			</transition-group>
		</ul>
	</div>


	<script type="text/javascript">
	var vm=new Vue({
	el:"#app",//要控制的范围
	data:{//数据
		list:[
		{id:1,name:'李世民'},
		{id:2,name:'李世天'},
		{id:3,name:'李世命'},
		{id:4,name:'李世违'},
		],
		id:'',
		name:''
	},
	methods:{//当前Vue实例所有可用的方法
		add(){
			this.list.push({id:this.id,name:this.name})
			this.id=this.name=''
		}
	}
})

	</script>
</body>
</html>
