<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="vue.min.js"></script>
	<link rel="stylesheet" href="./bootstrap.min.css">
</head>
<body>
	<div id="app">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">添加品牌</h3>
			</div>
			<div class="panel-body form-inline">
				<label for="">
					Id:
					<input type="text" class="form-control" v-model="id">
				</label>

				<label for="">
					Name:
					<input type="text"  class="form-control" v-model="name" @keyup.enter='add'>
				</label>

				<label for="">
					
					<!-- 加小括号可以为函数传参 -->
					<input type="button" value="添加" class="btn btn-primary" @click="add()">
				</label>

				<label for="">
					搜索：

					<!-- Vue所有指令在调用的时候都以 v- 开始 ，但定义的时候不需要-->
					<input type="text"  class="form-control" v-model="keyword" v-focus v-color>
				</label>

			</div>
		</div>

		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<td>Id</td>
					<td>Name</td>
					<td>Ctime</td>
					<td>Operation</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in search(keyword)" :key="item.id">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.ctime|dataFormat('xYYY-MM-DD')}}</td>
					<td>
						<a href="" @click.prevent="del(item.id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="app2">
		<h2>{{ msg}}</h2>

	</div>

	<script type="text/javascript">
	// 过滤器
	Vue.filter('dataFormat',function(dataStr,pattern=''){
		var dt=new Date(dataStr)
		var y=dt.getFullYear()
		// str的padStart(填充最大长度,'填充字符')
		var m=(dt.getMonth()+1).toString().padStart(2,'0')
		var d=dt.getDay().toString().padStart(2,'0')
		// return y+'-'+m+'-'+d

		if(pattern.toLowerCase()==='yyyy-mm-dd'){
			return `${y}-${m}-${d}`

		}else{
			var hh=dt.getHours().toString().padStart(2,'0')
			var mm=dt.getMinutes().toString().padStart(2,'0')
			var ss=dt.getSeconds().toString().padStart(2,'0')

			return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
		}

	})

	// 定义全局按键修饰符,F2=113
	Vue.config.keyCodes.f2=113

	// 使用Vue.directive()定义全局的指令
	// 参数一为指令名称，参数二为一个对象，有一些指令相关的函数，可以在
	// 特定的阶段执行相关的操作
	Vue.directive('focus',{
		bind:function(el){//每当指令绑定到元素上的时候立即执行这个bing函数，并且只执行一次

			//在每个函数中，第一个参数永远是el，表示被绑定了指令的元素，属于原生JS对象
			// el.focus()
		},

		inserted:function(el){//inserted表示元素插入到DOM中的时候会执行inserted函数，只执行一次
			// 使用v-focus调用
			el.focus()	
		},

		updated:function(){//更新VNode更新的时候会执行updated，可能会触发多次

		}
	})

	// 自定义设置字体颜色的指令
	Vue.directive('color',{
		bind:function(el){
			el.style.color='red'
		}
	})

	var vm=new Vue({
	el:"#app",//要控制的范围
	data:{//数据
		list:[
		{id:1,name:'奔驰',ctime:new Date()},
		{id:2,name:'宝马',ctime:new Date()},

		],
		id:null,
		name:'',
		keyword:''
	},
	methods:{//当前Vue实例所有可用的方法
		add(){
			this.list.push({id:this.id,name:this.name,ctime:new Date()})
			this.id=''
			this.name=''
		},
		del(id){


			this.list.some((item,i) => {
				if(item.id == id){
					this.list.splice(i,1)
					return true;
				}
			})

			/*var index=this.list.findIndex(item=>{
				if(item.id==id){
					return true;
				}
			})
	console.log(index)*/
},
search(keyword){
	var newList=[]
	this.list.forEach(item=>{
				// console.log(item.id)
				
				if(item.name.indexOf(keyword)!=-1){
					newList.push(item)
				}
			})
	return newList
}
}
})

	// 自定义私有过滤器，名称相同的情况下，优先调用私有过滤器
	var vm2=new Vue({
		el:"#app2",
		data:{
			msg:new Date()
		},
		methods:{

			},
		filters:{//私有过滤器

			dataFormat:function(dataStr,pattern=''){
				var dt=new Date(dataStr)
				var y=dt.getFullYear()
				var m=(dt.getMonth()+1).toString().padStart(2,'0')
				var d=dt.getDay().toString().padStart(2,'0')
		// return y+'-'+m+'-'+d

		if(pattern.toLowerCase()==='yyyy-mm-dd'){
			return `${y}-${m}-${d}`

		}else{
			var hh=dt.getHours().toString().padStart(2,'0')
			var mm=dt.getMinutes().toString().padStart(2,'0')
			var ss=dt.getSeconds().toString().padStart(2,'0')

			return `${y}-${m}-${d} ${hh}:${mm}:${ss} 过滤器2`
		}
	}
}
})
</script>
</body>
</html>
